extends message
block content 

  link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
  link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css')
  #frame
    #sidepanel
      #contacts
        each pair in pairs
          ul
            li.contact
              a(href=`/messages/${pair._id}`)     
                .wrap
                  span.contact-status.offline
                  img(src=`/img/users/${pair.photo}` alt=`Photo of ${pair.name}`)
                  .meta
                    p.name=pair.name
                    p.preview="..."
    .content
      .messages
      .message-input
        .wrap
         if inRoom
           input(type='text' class="inputMessage" placeholder='Write your message...' style="display;")

  script(src='../assets/dist/js/bootstrap.bundle.min.js')
  script(src="https://code.jquery.com/jquery-1.10.2.min.js")
  script(src="/socket.io/socket.io.js")