extends base
block content 
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  // ---- Include the above in your HEAD tag --------
  link(href='/card.css' rel='stylesheet')
  link(href='/post.css' rel='stylesheet')
  link(href='/comment.css' rel='stylesheet')
  link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN' crossorigin='anonymous')

  // Post /////
  // - \\\\\\\Post
  .card.gedf-card
    .card-header
      .d-flex.justify-content-between.align-items-center
        .d-flex.justify-content-between.align-items-center
          .mr-2
            img.nav__user-img(src=`/img/users/${post.user.photo}` alt=`Photo of ${post.user.name}`)
          .ml-2
            .h2.m-0=post.user.name

    .card-body
      .text-muted.h7.mb-2
        i.fa.fa-clock-o=post.createdAt.toString().split('GMT')[0]
      a.card-link
        h1.card-title=post.title
      h3.p.card-text=post.content
    form.form.form--like
      .card-footer
        a.card-link
          button#updateLike.fa.fa-gittip 
          | LIkE
          if(post.like)
            span=post.like.length 
          else 
            span 0
    .card-body
      .container
      each comment in post.comments
          .row
            .col-sm-5.col-md-6.col-12.pb-4
              .comment.mt-4.text-justify.float-left
                .d-flex.justify-content-between.align-items-center
                  .d-flex.justify-content-between.align-items-center
                    img.nav__user-img(src=`/img/users/${comment.user.photo}` alt=`Photo of ${comment.user.name}`)
                    h4=comment.user.name
                  //- h8=comment.createdAt.toString().split('GMT')[0]
                br
                br
                h3=comment.content
      .col-lg-4.col-md-5.col-sm-4.offset-md-1.offset-sm-1.col-12.mt-4
      form.form.form--comment
        .form__group.ma-bt-md
          label.form__label
          input#comment.form__input(type='text', placeholder='Post a comment', required)
        .form__group
          button.btn 送出

  
  mixin navItem(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
      a(href=`${link}`)
        svg
          use(xlink:href=`img/icons.svg#icon-${icon}`)
        | #{text}